<div class="middle" style="padding: 20px;">
    <h1 style="color: #000000;">Seleccione un Algoritmo de Reemplazo de Paginas</h1>
    <label>
        <input type="radio" name="radio" />
        <div class="front-end box" style="background-color: #16A085;" (click)="segundaOportunidad()">
            <span>Segunda Oportunidad</span>
        </div>
    </label>

    <label>
        <input type="radio" name="radio" />
        <div class="back-end box"  style="background-color: #1ABC9C;" (click)="lru()">
            <span>LRU</span>
        </div>
    </label>

    <label>
        <input type="radio" name="radio" />
        <div class="back-end box"  style="background-color: #17A589;" (click)="fifo()">
            <span>FIFO</span>
        </div>
    </label>

</div>